{% assign courses = site.data.data.courses %}
{% if courses %}
<section class="section courses-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ courses.course }}
  </h2>

  {% if courses.intro %}
  <div class="intro">
    {{ courses.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for courses in courses.learnings %}
  <div class="item">
    {% if courses.link %}
      <li><a href="{{ courses.link }}">{{ courses.title }}</a></li>
    {% else %}
      <li>{{ courses.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ courses.title }}</div>
    <div class="publication-conference">{{ courses.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
