{% assign events = site.data.data.events %}
{% if events %}
<section class="section events-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ events.title }}
  </h2>

  {% if events.intro %}
  <div class="intro">
    {{ events.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for events in events.papers %}
  <div class="item">
    {% if events.link %}
      <li><a href="{{ events.link }}">{{ events.title }}</a></li>
    {% else %}
      <li>{{ events.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ events.authors }}</div>
    <div class="publication-conference">{{ events.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
