{% assign events = site.data.data.events %}
{% if events %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
    </span>
    {{ events.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ events.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for event in events.assisted %}
  <div class="item">
    <div class="job-title"> {{ event.title }}
    <div class="publication-authors">{{ event.authors }}</div>
    <div class="time">{{ event.time }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
