{% assign events = site.data.data.events %}
{% if events %}
<section class="section events-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ events.title }}
  </h2>

  {% if events.intro %}
  <div class="intro">
      <p>{{ events.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for event in events.event %}
    <div class="item">

      {% if event.title %}
      <h3 class="job-title">{{ event.title }}</h3>
      {% endif %}
      
      {% if event.author %}
      <div class="company">{{ event.author }}</div>
      {% endif %}
      
      {% if event.time %}
      <div class="time">{{ event.time }}</div>
      {% endif %}
     

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
